- model_class = Rede
div class="page-header"
  h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
table class="table table-striped"
  thead
    tr
      th= model_class.human_attribute_name(:id)
      th= model_class.human_attribute_name(:nome)
      th= model_class.human_attribute_name(:created_at)
      th=t '.actions', :default => t("helpers.actions")
  tbody
    - @redes.each do |rede|
      tr
        td= link_to rede.id, rede_path(rede)
        td= rede.nome
        td=l rede.created_at
        td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_rede_path(rede), :class => 'btn btn-mini'
          '
          = link_to t('.destroy', :default => t("helpers.links.destroy")), rede_path(rede), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_rede_path, :class => 'btn btn-primary'

