- model_class = Rede
div class="page-header"
  h1=t '.title', :default => model_class.model_name.human.titleize

p
  strong= model_class.human_attribute_name(:nome) + ':'
  br
  = @rede.nome

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), redes_path, :class => 'btn'
  '
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_rede_path(@rede), :class => 'btn'
  '
  = link_to t('.destroy', :default => t("helpers.links.destroy")), rede_path(@rede), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
